body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 575px;
    height: 385px;
    background: #1B244A;
}

.home, .guest {
    width: 149px;
    height: 36px;
}

h3 {
    font-family: "Verdana", sans-serif;
    font-size: 40px;
    color: #EEEEEE;
    margin: 0;
}


.scoreboard-home, .scoreboard-guest {
    width: 155px;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    margin: 21px auto;
}
  
h2 {
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
    padding-top: 10px;
    margin-top: 0;

}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .plusone-btn,
  .plustwo-btn,
  .plusthree-btn {
    border: 0;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Cursed Timer ULiL", sans-serif;
  }
  
  





